{
  "token": "",
  "owners": [
    86477779717066752
  ],
  "join_message": "I has joined to do stuff 🌟",
  "prefix": [
    "?"
  ],
  "cache": {
    "coins": 300
  },
  "playing": "?help",
  "economy": {
    "currency_name": "Qoins",
    "start_money": 250,
    "start_wage": 25
  }}

